QPushButton {
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 2px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
}

QPushButton:hover {
  background-color: #666666;
}

QPushButton:disabled {
  background-color: #444444;
  border: 1px solid #444444;
  color: #757575;
}

QLineEdit {
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 2px;
  padding: 6px;
  color: white;
}

QLineEdit:disabled {
  color: #757575;
}

QWidget[accessibleName="resultsWidget"] {
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 0px;
  padding: 4px;
  color: white;
}

QScrollArea {
  border-radius: 0px;
}

QMainWindow, QDialog {
  background-color: #222222;
  border: 2px solid #999999;
  border-radius: 0px;
  color: white;
}

QLabel {
  color: white;
}

QListWidget {
  background-color: #333333;
  border:none;
  padding: 2px;
  color: white;
}

QScrollBar:vertical {
  background-color: #333333;
  border: none;
  padding: 2px;
  color: white;
  margin: 22px 0 22px 0;
}

QScrollBar::handle:vertical {
  background-color: #444444;
  min-height: 10px;
  border: none;
}

QScrollBar::add-line:vertical {
  background-color: #222222;
  border: 1px solid #555555;
  height: 20px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  background-color: #222222;
  border: 1px solid #555555;
  height: 20px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  background-color: white;
  border: 1px solid #555555;
  width: 3px;
  height: 3px;
  background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}
